html,
body {
  height: 100%;
  margin: 0;
}

 body {
   font: 14px "Roboto", "Helvetica", "Arial", sans-serif;
}

.app {
  height: 100%;
  display: flex;
}

.compFade {
  transition: all 300ms ease-in-out
}
